<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image_array</key>
		<array>
			<string>bob_pettit.png</string>
			<string>dominique_wilkins.png</string>
			<string>lou_hudson.png</string>
			<string>shareef.png</string>
		</array>
		<key>key_answer</key>
		<string>0</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>dave_cowens.png</string>
			<string>john_havlicek.png</string>
			<string>kevin_mchale.png</string>
			<string>robert_parish.png</string>
		</array>
		<key>key_answer</key>
		<string>1</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>boris_diaw.png</string>
			<string>dj_augustin.png</string>
			<string>raymond_felton.png</string>
			<string>stephen_jackson.png</string>
		</array>
		<key>key_answer</key>
		<string>2</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>artis_gilmore.png</string>
			<string>bob_love.png</string>
			<string>horace_grant.png</string>
			<string>jerry_sloan.png</string>
		</array>
		<key>key_answer</key>
		<string>3</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>austin_carr.png</string>
			<string>brad_daugherty.png</string>
			<string>larry_nance.png</string>
			<string>mark_price.png</string>
		</array>
		<key>key_answer</key>
		<string>4</string>
	</dict>
</array>
</plist>
