<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image_array</key>
		<array>
			<string>bob_pettit.png</string>
			<string>dominique_wilkins.png</string>
			<string>lou_hudson.png</string>
			<string>shareef.png</string>
		</array>
		<key>key_answer</key>
		<string>0</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>dave_cowens.png</string>
			<string>john_havlicek.png</string>
			<string>kevin_mchale.png</string>
			<string>robert_parish.png</string>
		</array>
		<key>key_answer</key>
		<string>1</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>boris_diaw.png</string>
			<string>dj_augustin.png</string>
			<string>raymond_felton.png</string>
			<string>stephen_jackson.png</string>
		</array>
		<key>key_answer</key>
		<string>2</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>artis_gilmore.png</string>
			<string>bob_love.png</string>
			<string>horace_grant.png</string>
			<string>jerry_sloan.png</string>
		</array>
		<key>key_answer</key>
		<string>3</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>austin_carr.png</string>
			<string>brad_daugherty.png</string>
			<string>larry_nance.png</string>
			<string>mark_price.png</string>
		</array>
		<key>key_answer</key>
		<string>4</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>jamal_crawford.png</string>
			<string>patrick_ewing.png</string>
			<string>stephon_marbury.png</string>
			<string>willis_reed.png</string>
		</array>
		<key>key_answer</key>
		<string>19</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>raymond_felton.png</string>
			<string>kurt_thomas.png</string>
			<string>david_lee.png</string>
			<string>allan_houston.png</string>
		</array>
		<key>key_answer</key>
		<string>19</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>allan_houston.png</string>
			<string>ben_wallace.png</string>
			<string>grant_hill.png</string>
			<string>isiah_thomas.png</string>
		</array>
		<key>key_answer</key>
		<string>7</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>robert_parish.png</string>
			<string>david_lee.png</string>
			<string>stephen_jackson.png</string>
			<string>mark_price.png</string>
		</array>
		<key>key_answer</key>
		<string>8</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>mark_price.png</string>
			<string>patrick_ewing.png</string>
			<string>dominique_wilkins.png</string>
			<string>horace_grant.png</string>
		</array>
		<key>key_answer</key>
		<string>21</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>boris_diaw.png</string>
			<string>stephon_marbury.png</string>
			<string>kurt_thomas.png</string>
			<string>larry_nance.png</string>
		</array>
		<key>key_answer</key>
		<string>23</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>richard_hamilton.png</string>
			<string>chauncey_billups.png</string>
			<string>tayshaun_prince.png</string>
			<string>ben_wallace.png</string>
		</array>
		<key>key_answer</key>
		<string>7</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>chauncey_billups.png</string>
			<string>grant_hill.png</string>
			<string>jamal_crawford.png</string>
			<string>chris_kaman.png</string>
		</array>
		<key>key_answer</key>
		<string>11</string>
	</dict>
</array>
</plist>
