<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image_array</key>
		<array>
			<string>bob_pettit.png</string>
			<string>dominique_wilkins.png</string>
			<string>lou_hudson.png</string>
			<string>shareef.png</string>
		</array>
		<key>key_answer</key>
		<string>0</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>dave_cowens.png</string>
			<string>john_havlicek.png</string>
			<string>kevin_mchale.png</string>
			<string>robert_parish.png</string>
		</array>
		<key>key_answer</key>
		<string>1</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>boris_diaw.png</string>
			<string>dj_augustin.png</string>
			<string>raymond_felton.png</string>
			<string>stephen_jackson.png</string>
		</array>
		<key>key_answer</key>
		<string>2</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>artis_gilmore.png</string>
			<string>bob_love.png</string>
			<string>horace_grant.png</string>
			<string>jerry_sloan.png</string>
		</array>
		<key>key_answer</key>
		<string>3</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>austin_carr.png</string>
			<string>brad_daugherty.png</string>
			<string>larry_nance.png</string>
			<string>mark_price.png</string>
		</array>
		<key>key_answer</key>
		<string>4</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>jamal_crawford.png</string>
			<string>patrick_ewing.png</string>
			<string>stephon_marbury.png</string>
			<string>willis_reed.png</string>
		</array>
		<key>key_answer</key>
		<string>19</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>raymond_felton.png</string>
			<string>kurt_thomas.png</string>
			<string>david_lee.png</string>
			<string>allan_houston.png</string>
		</array>
		<key>key_answer</key>
		<string>19</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>allan_houston.png</string>
			<string>ben_wallace.png</string>
			<string>grant_hill.png</string>
			<string>isiah_thomas.png</string>
		</array>
		<key>key_answer</key>
		<string>7</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>robert_parish.png</string>
			<string>david_lee.png</string>
			<string>stephen_jackson.png</string>
			<string>mark_price.png</string>
		</array>
		<key>key_answer</key>
		<string>8</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>mark_price.png</string>
			<string>patrick_ewing.png</string>
			<string>dominique_wilkins.png</string>
			<string>horace_grant.png</string>
		</array>
		<key>key_answer</key>
		<string>21</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>boris_diaw.png</string>
			<string>stephon_marbury.png</string>
			<string>kurt_thomas.png</string>
			<string>larry_nance.png</string>
		</array>
		<key>key_answer</key>
		<string>23</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>richard_hamilton.png</string>
			<string>chauncey_billups.png</string>
			<string>tayshaun_prince.png</string>
			<string>ben_wallace.png</string>
		</array>
		<key>key_answer</key>
		<string>7</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>chauncey_billups.png</string>
			<string>grant_hill.png</string>
			<string>jamal_crawford.png</string>
			<string>chris_kaman.png</string>
		</array>
		<key>key_answer</key>
		<string>11</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>shareef.png</string>
			<string>raymond_felton.png</string>
			<string>jamal_crawford.png</string>
			<string>kurt_thomas.png</string>
		</array>
		<key>key_answer</key>
		<string>24</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>shareef.png</string>
			<string>chris-webber.png</string>
			<string>aaron-brooks.png</string>
			<string>peja-stojakovic.png</string>
		</array>
		<key>key_answer</key>
		<string>25</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>lou_hudson.png</string>
			<string>horace_grant.png</string>
			<string>elgin-baylor.png</string>
			<string>adrian_dantley.png</string>
		</array>
		<key>key_answer</key>
		<string>12</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>lou_hudson.png</string>
			<string>horace_grant.png</string>
			<string>elgin-baylor.png</string>
			<string>adrian_dantley.png</string>
		</array>
		<key>key_answer</key>
		<string>12</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>dominique_wilkins.png</string>
			<string>doug-christie.png</string>
			<string>baron-davis.png</string>
			<string>bobby-simmons.png</string>
		</array>
		<key>key_answer</key>
		<string>11</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>dominique_wilkins.png</string>
			<string>pj-brown.png</string>
			<string>baron-davis.png</string>
			<string>larry-bird.png</string>
		</array>
		<key>key_answer</key>
		<string>1</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>dominique_wilkins.png</string>
			<string>boris_diaw.png</string>
			<string>dennis-rodman.png</string>
			<string>rod-strickland.png</string>
		</array>
		<key>key_answer</key>
		<string>26</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>robert_parish.png</string>
			<string>dennis-rodman.png</string>
			<string>john-salmons.png</string>
			<string>tyson-chandler.png</string>
		</array>
		<key>key_answer</key>
		<string>3</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>dave_cowens.png</string>
			<string>andrew_bogut.png</string>
			<string>ray-allen.png</string>
			<string>gary-payton.png</string>
		</array>
		<key>key_answer</key>
		<string>15</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>austin_carr.png</string>
			<string>dennis-rodman.png</string>
			<string>chris_kaman.png</string>
			<string>eddie-jones.png</string>
		</array>
		<key>key_answer</key>
		<string>5</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>stephen_jackson.png</string>
			<string>artis_gilmore.png</string>
			<string>david-robinson.png</string>
			<string>bobby-simmons.png</string>
		</array>
		<key>key_answer</key>
		<string>26</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>stephen_jackson.png</string>
			<string>tracy-mcgrady.png</string>
			<string>jamal_crawford.png</string>
			<string>jason-terry.png</string>
		</array>
		<key>key_answer</key>
		<string>0</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>stephen_jackson.png</string>
			<string>alex_english.png</string>
			<string>metta-world-peace.png</string>
			<string>adrian_dantley.png</string>
		</array>
		<key>key_answer</key>
		<string>10</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>stephen_jackson.png</string>
			<string>bobby-simmons.png</string>
			<string>nate-archibald.png</string>
			<string>adrian_dantley.png</string>
		</array>
		<key>key_answer</key>
		<string>15</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>raymond_felton.png</string>
			<string>alex_english.png</string>
			<string>dan-issel.png</string>
			<string>marcus-camby.png</string>
		</array>
		<key>key_answer</key>
		<string>6</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>dj_augustin.png.png</string>
			<string>reggie-miller.png</string>
			<string>peja-stojakovic.png</string>
			<string>chris-mullin.png</string>
		</array>
		<key>key_answer</key>
		<string>10</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>boris_diaw.png</string>
			<string>mike-bibby.png</string>
			<string>connie-hawkins.png</string>
			<string>theo-ratliff.png</string>
		</array>
		<key>key_answer</key>
		<string>0</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>horace_grant.png</string>
			<string>bob_love.png</string>
			<string>patrick_ewing.png</string>
			<string>rashard-lewis.png</string>
		</array>
		<key>key_answer</key>
		<string>30</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>nate-archibald.png</string>
			<string>bob_love.png</string>
			<string>john-salmons.png</string>
			<string>kurt_thomas.png</string>
		</array>
		<key>key_answer</key>
		<string>15</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>artis_gilmore.png</string>
			<string>chauncey_billups.png</string>
			<string>dennis-johnson.png</string>
			<string>stephon_marbury.png</string>
		</array>
		<key>key_answer</key>
		<string>1</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>theo-ratliff.png</string>
			<string>brandon-roy.png</string>
			<string>chauncey_billups.png</string>
			<string>stephon_marbury.png</string>
		</array>
		<key>key_answer</key>
		<string>16</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>jamal_crawford.png</string>
			<string>pj-brown.png</string>
			<string>scottie-pippen.png</string>
			<string>michael-jordan.png</string>
		</array>
		<key>key_answer</key>
		<string>3</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>jamal_crawford.png</string>
			<string>jason-richardson.png</string>
			<string>larry-hughes.png</string>
			<string>derek-fisher.png</string>
		</array>
		<key>key_answer</key>
		<string>8</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>kurt_thomas.png</string>
			<string>eddie-jones.png</string>
			<string>shaquille-oneal.png</string>
			<string>mike-bibby.png</string>
		</array>
		<key>key_answer</key>
		<string>14</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>kurt_thomas.png</string>
			<string>tyson-chandler.png</string>
			<string>adrian_dantley.png</string>
			<string>doug-christie.png</string>
		</array>
		<key>key_answer</key>
		<string>5</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>kurt_thomas.png</string>
			<string>dennis-johnson.png</string>
			<string>gary-payton.png</string>
			<string>ray-allen.png</string>
		</array>
		<key>key_answer</key>
		<string>30</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>kurt_thomas.png</string>
			<string>damon-stoudamire.png</string>
			<string>theo-ratliff.png</string>
			<string>george-gervin.png</string>
		</array>
		<key>key_answer</key>
		<string>26</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>kurt_thomas.png</string>
			<string>richard_hamilton.png</string>
			<string>metta-world-peace.png</string>
			<string>ben-gordon.png</string>
		</array>
		<key>key_answer</key>
		<string>3</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>bobby-simmons.png</string>
			<string>richard_hamilton.png</string>
			<string>rashard-lewis.png</string>
			<string>mike-miller.png</string>
		</array>
		<key>key_answer</key>
		<string>29</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>grant_hill.png</string>
			<string>steve-francis.png</string>
			<string>tracy-mcgrady.png</string>
			<string>ryan-anderson.png</string>
		</array>
		<key>key_answer</key>
		<string>21</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>grant_hill.png</string>
			<string>raja-bell.png</string>
			<string>vince-carter.png</string>
			<string>jason-kidd.png</string>
		</array>
		<key>key_answer</key>
		<string>23</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>ben_wallace.png</string>
			<string>chris-webber.png</string>
			<string>mike-bibby.png</string>
			<string>emeka-okafor.png</string>
		</array>
		<key>key_answer</key>
		<string>29</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>ben_wallace.png</string>
			<string>george-gervin.png</string>
			<string>thabo-sefolosha.png</string>
			<string>larry-hughes.png</string>
		</array>
		<key>key_answer</key>
		<string>3</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>tayshaun_prince.png</string>
			<string>allen_iverson.png</string>
			<string>eddie-jones.png</string>
			<string>damon-stoudamire.png</string>
		</array>
		<key>key_answer</key>
		<string>13</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>chauncey_billups.png</string>
			<string>hakeem-olajuwon.png</string>
			<string>marcus-camby.png</string>
			<string>rod-strickland.png</string>
		</array>
		<key>key_answer</key>
		<string>27</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>chauncey_billups.png</string>
			<string>dikembe-mutombo.png</string>
			<string>andre-miller.png</string>
			<string>allen_iverson.png</string>
		</array>
		<key>key_answer</key>
		<string>6</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>chauncey_billups.png</string>
			<string>walt-bellamy.png</string>
			<string>bill-bradley.png</string>
			<string>dave-debusschere.png</string>
		</array>
		<key>key_answer</key>
		<string>19</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>chris_kaman.png</string>
			<string>baron-davis.png</string>
			<string>ryan-anderson.png</string>
			<string>peja-stojakovic.png</string>
		</array>
		<key>key_answer</key>
		<string>18</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>kareem-abdul-jabbar.png</string>
			<string>alex_english.png</string>
			<string>andrew_bogut.png</string>
			<string>bobby-simmons.png</string>
		</array>
		<key>key_answer</key>
		<string>15</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>kareem-abdul-jabbar.png</string>
			<string>wilt-chamberlain.png</string>
			<string>connie-hawkins.png</string>
			<string>magic-johnson.png</string>
		</array>
		<key>key_answer</key>
		<string>12</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>nate-archibald.png</string>
			<string>don-barksdale.png</string>
			<string>dave-bing.png</string>
			<string>bob-cousy.png</string>
		</array>
		<key>key_answer</key>
		<string>1</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>charles-barkley.png</string>
			<string>wilt-chamberlain.png</string>
			<string>julius-erving.png</string>
			<string>dikembe-mutombo.png</string>
		</array>
		<key>key_answer</key>
		<string>22</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>charles-barkley.png</string>
			<string>connie-hawkins.png</string>
			<string>dennis-johnson.png</string>
			<string>shaquille-oneal.png</string>
		</array>
		<key>key_answer</key>
		<string>23</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>charles-barkley.png</string>
			<string>rick-barry.png</string>
			<string>hakeem-olajuwon.png</string>
			<string>scottie-pippen.png</string>
		</array>
		<key>key_answer</key>
		<string>9</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>chris-mullin.png</string>
			<string>rick-barry.png</string>
			<string>jamaal-wilkes.png</string>
			<string>chris-webber.png</string>
		</array>
		<key>key_answer</key>
		<string>8</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>walt-bellamy.png</string>
			<string>dave-bing.png</string>
			<string>adrian_dantley.png</string>
			<string>dave-debusschere.png</string>
		</array>
		<key>key_answer</key>
		<string>7</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>walt-bellamy.png</string>
			<string>dikembe-mutombo.png</string>
			<string>kyle-korver.png</string>
			<string>jason-terry.png</string>
		</array>
		<key>key_answer</key>
		<string>0</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>billy-cunningham.png</string>
			<string>chris-webber.png</string>
			<string>theo-ratliff.png</string>
			<string>shawn-bradley.png</string>
		</array>
		<key>key_answer</key>
		<string>22</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>adrian_dantley.png</string>
			<string>karl-malone.png</string>
			<string>john-stockton.png</string>
			<string>andrei-kirilenko.png</string>
		</array>
		<key>key_answer</key>
		<string>28</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>clyde-drexler.png</string>
			<string>scottie-pippen.png</string>
			<string>marcus-camby.png</string>
			<string>theo-ratliff.png</string>
		</array>
		<key>key_answer</key>
		<string>24</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>clyde-drexler.png</string>
			<string>dikembe-mutombo.png</string>
			<string>aaron_brooks.png</string>
			<string>metta-world-peace.png</string>
		</array>
		<key>key_answer</key>
		<string>9</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>joe-dumars.png</string>
			<string>dennis-rodman.png</string>
			<string>jose-calderon.png</string>
			<string>tracy-mcgrady.png</string>
		</array>
		<key>key_answer</key>
		<string>7</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>alex_english.png</string>
			<string>shawn-bradley.png</string>
			<string>vince-carter.png</string>
			<string>antawn-jamison.png</string>
		</array>
		<key>key_answer</key>
		<string>5</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>michael-jordan.png</string>
			<string>antawn-jamison.png</string>
			<string>rod-strickland.png</string>
			<string>larry-hughes.png</string>
		</array>
		<key>key_answer</key>
		<string>29</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>karl-malone.png</string>
			<string>gary-payton.png</string>
			<string>theo-ratliff.png</string>
			<string>doug-christie.png</string>
		</array>
		<key>key_answer</key>
		<string>12</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>shaquille-oneal.png</string>
			<string>gary-payton.png</string>
			<string>theo-ratliff.png</string>
			<string>ray-allen.png</string>
		</array>
		<key>key_answer</key>
		<string>1</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>alonzo_mourning.png</string>
			<string>gary-payton.png</string>
			<string>rod-strickland.png</string>
			<string>rashard-lewis.png</string>
		</array>
		<key>key_answer</key>
		<string>14</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>dennis-rodman.png</string>
			<string>jerry-west.png</string>
			<string>jamaal-wilkes.png</string>
			<string>eddie-jones.png</string>
		</array>
		<key>key_answer</key>
		<string>12</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>bill-russell.png</string>
			<string>kevin-garnett.png</string>
			<string>jason-terry.png</string>
			<string>pj-brown.png</string>
		</array>
		<key>key_answer</key>
		<string>1</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>jamaal-wilkes.png</string>
			<string>marcus-camby.png</string>
			<string>andre-miller.png</string>
			<string>travis-outlaw.png</string>
		</array>
		<key>key_answer</key>
		<string>11</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>shaquille-oneal.png</string>
			<string>dwight-howard.png</string>
			<string>rod-strickland.png</string>
			<string>larry-hughes.png</string>
		</array>
		<key>key_answer</key>
		<string>21</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>shaquille-oneal.png</string>
			<string>dwight-howard.png</string>
			<string>steve-nash.png</string>
			<string>metta-world-peace.png</string>
		</array>
		<key>key_answer</key>
		<string>12</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>shaquille-oneal.png</string>
			<string>andre-miller.png</string>
			<string>larry-hughes.png</string>
			<string>baron-davis.png</string>
		</array>
		<key>key_answer</key>
		<string>4</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>kevin-love.png</string>
			<string>kevin-garnett.png</string>
			<string>andrei-kirilenko.png</string>
			<string>rod-strickland.png</string>
		</array>
		<key>key_answer</key>
		<string>16</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>dikembe-mutombo.png</string>
			<string>marcus-camby.png</string>
			<string>jason-kidd.png</string>
			<string>rod-strickland.png</string>
		</array>
		<key>key_answer</key>
		<string>19</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>chris-webber.png</string>
			<string>theo-ratliff.png</string>
			<string>ben-gordon.png</string>
			<string>jose-calderon.png</string>
		</array>
		<key>key_answer</key>
		<string>7</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>andrew_bogut.png</string>
			<string>baron-davis.png</string>
			<string>dorell-wright.png</string>
			<string>antawn-jamison.png</string>
		</array>
		<key>key_answer</key>
		<string>8</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>marcus-camby.png</string>
			<string>rod-strickland.png</string>
			<string>tracy-mcgrady.png</string>
			<string>steve-francis.png</string>
		</array>
		<key>key_answer</key>
		<string>9</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>theo-ratliff.png</string>
			<string>larry-hughes.png</string>
			<string>jason-richardson.png</string>
			<string>emeka-okafor.png</string>
		</array>
		<key>key_answer</key>
		<string>2</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>steve-nash.png</string>
			<string>aaron_brooks.png</string>
			<string>raja-bell.png</string>
			<string>vince-carter.png</string>
		</array>
		<key>key_answer</key>
		<string>23</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>steve-nash.png</string>
			<string>jason-kidd.png</string>
			<string>raja-bell.png</string>
			<string>peja-stojakovic.png</string>
		</array>
		<key>key_answer</key>
		<string>5</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>chris-paul.png</string>
			<string>tyson-chandler.png</string>
			<string>emeka-okafor.png</string>
			<string>jr-smith.png</string>
		</array>
		<key>key_answer</key>
		<string>18</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>andre-miller.png</string>
			<string>larry-hughes.png</string>
			<string>allen_iverson.png</string>
			<string>dorell-wright.png</string>
		</array>
		<key>key_answer</key>
		<string>22</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>andre-miller.png</string>
			<string>brandon-roy.png</string>
			<string>shawn-kemp.png</string>
			<string>travis-outlaw.png</string>
		</array>
		<key>key_answer</key>
		<string>24</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>larry-hughes.png</string>
			<string>baron-davis.png</string>
			<string>tracy-mcgrady.png</string>
			<string>tyson-chandler.png</string>
		</array>
		<key>key_answer</key>
		<string>19</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>tracy-mcgrady.png</string>
			<string>vince-carter.png</string>
			<string>jose-calderon.png</string>
			<string>morris-peterson.png</string>
		</array>
		<key>key_answer</key>
		<string>27</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>dorell-wright.png</string>
			<string>ray-allen.png</string>
			<string>mike-miller.png</string>
			<string>pj-brown.png</string>
		</array>
		<key>key_answer</key>
		<string>14</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>rashard-lewis.png</string>
			<string>jason-richardson.png</string>
			<string>vince-carter.png</string>
			<string>mike-miller.png</string>
		</array>
		<key>key_answer</key>
		<string>21</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>raja-bell.png</string>
			<string>jason-richardson.png</string>
			<string>kyle-korver.png</string>
			<string>john-salmons.png</string>
		</array>
		<key>key_answer</key>
		<string>22</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>kyle-korver.png</string>
			<string>derek-fisher.png</string>
			<string>ronnie-brewer.png</string>
			<string>john-stockton.png</string>
		</array>
		<key>key_answer</key>
		<string>28</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>metta-world-peace.png</string>
			<string>tyreke-evans.png</string>
			<string>doug-christie.png</string>
			<string>mike-bibby.png</string>
		</array>
		<key>key_answer</key>
		<string>25</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>steve-francis.png</string>
			<string>jr-smith.png</string>
			<string>doug-christie.png</string>
			<string>ronnie-brewer.png</string>
		</array>
		<key>key_answer</key>
		<string>19</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>mike-miller.png</string>
			<string>ronnie-brewer.png</string>
			<string>allen_iverson.png</string>
			<string>eddie-jones.png</string>
		</array>
		<key>key_answer</key>
		<string>13</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>andre-miller.png</string>
			<string>baron-davis.png</string>
			<string>antawn-jamison.png</string>
			<string>shawn-kemp.png</string>
		</array>
		<key>key_answer</key>
		<string>4</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>kevin-durant.png</string>
			<string>russell-westbrook.png</string>
			<string>derek-fisher.png</string>
			<string>reggie-jackson.png</string>
		</array>
		<key>key_answer</key>
		<string>20</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>jeremy-lamb.png</string>
			<string>deandre-liggins.png</string>
			<string>thabo-sefolosha.png</string>
			<string>ronnie-brewer.png</string>
		</array>
		<key>key_answer</key>
		<string>20</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>vlade-divac.png</string>
			<string>toney-douglas.png</string>
			<string>travis-outlaw.png</string>
			<string>chuck-hayes.png</string>
		</array>
		<key>key_answer</key>
		<string>25</string>
	</dict>
</array>
</plist>
