<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image_array</key>
		<array>
			<string>big_ben.png</string>
			<string>london_eye.png</string>
			<string>tower_bridge.png</string>
			<string>tower_of_london.png</string>
		</array>
		<key>key_answer</key>
		<string>0</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>nyk_usa_1.png</string>
			<string>nyk_usa_2.png</string>
			<string>nyk_usa_3.png</string>
			<string>nyk_usa_4.png</string>
		</array>
		<key>key_answer</key>
		<string>1</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>paris_france_1.png</string>
			<string>paris_france_2.png</string>
			<string>paris_france_3.png</string>
			<string>paris_france_4.png</string>
		</array>
		<key>key_answer</key>
		<string>2</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>prague_1.png</string>
			<string>prague_2.png</string>
			<string>prague_3.png</string>
			<string>prague_4.png</string>
		</array>
		<key>key_answer</key>
		<string>3</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>krakow_1.png</string>
			<string>krakow_2.png</string>
			<string>krakow_3.png</string>
			<string>krakow_4.png</string>
		</array>
		<key>key_answer</key>
		<string>4</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>berlin_1.png</string>
			<string>berlin_2.png</string>
			<string>berlin_3.png</string>
			<string>berlin_4.png</string>
		</array>
		<key>key_answer</key>
		<string>5</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>edinburgh_1.png</string>
			<string>edinburgh_2.png</string>
			<string>edinburgh_3.png</string>
			<string>edinburgh_4.png</string>
		</array>
		<key>key_answer</key>
		<string>6</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>sydney_1.png</string>
			<string>sydney_2.png</string>
			<string>sydney_3.png</string>
			<string>sydney_4.png</string>
		</array>
		<key>key_answer</key>
		<string>7</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>munich_1.png</string>
			<string>munich_2.png</string>
			<string>munich_3.png</string>
			<string>munich_4.png</string>
		</array>
		<key>key_answer</key>
		<string>8</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>amsterdam_1.png</string>
			<string>amsterdam_2.png</string>
			<string>amsterdam_3.png</string>
			<string>amsterdam_4.png</string>
		</array>
		<key>key_answer</key>
		<string>9</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>dublin_1.png</string>
			<string>dublin_2.png</string>
			<string>dublin_3.png</string>
			<string>dublin_4.png</string>
		</array>
		<key>key_answer</key>
		<string>10</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>barcelona_1.png</string>
			<string>barcelona_2.png</string>
			<string>barcelona_3.png</string>
			<string>barcelona_4.png</string>
		</array>
		<key>key_answer</key>
		<string>11</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>reykjavik_1.png</string>
			<string>reykjavik_2.png</string>
			<string>reykjavik_3.png</string>
			<string>reykjavik_4.png</string>
		</array>
		<key>key_answer</key>
		<string>12</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>rome_1.png</string>
			<string>rome_2.png</string>
			<string>rome_3.png</string>
			<string>rome_4.png</string>
		</array>
		<key>key_answer</key>
		<string>13</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>las_vegas_1.png</string>
			<string>las_vegas_2.png</string>
			<string>las_vegas_3.png</string>
			<string>las_vegas_4.png</string>
		</array>
		<key>key_answer</key>
		<string>14</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>venice_1.png</string>
			<string>venice_2.png</string>
			<string>venice_3.png</string>
			<string>venice_4.png</string>
		</array>
		<key>key_answer</key>
		<string>15</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>dubrovnik_1.png</string>
			<string>dubrovnik_2.png</string>
			<string>dubrovnik_3.png</string>
			<string>dubrovnik_4.png</string>
		</array>
		<key>key_answer</key>
		<string>16</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>marrakesh_1.png</string>
			<string>marrakesh_2.png</string>
			<string>marrakesh_3.png</string>
			<string>marrakesh_4.png</string>
		</array>
		<key>key_answer</key>
		<string>17</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>bangkok_1.png</string>
			<string>bangkok_2.png</string>
			<string>bangkok_3.png</string>
			<string>bangkok_4.png</string>
		</array>
		<key>key_answer</key>
		<string>18</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>stockholm_1.png</string>
			<string>stockholm_2.png</string>
			<string>stockholm_3.png</string>
			<string>stockholm_4.png</string>
		</array>
		<key>key_answer</key>
		<string>19</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>honolulu_1.png</string>
			<string>honolulu_2.png</string>
			<string>honolulu_3.png</string>
			<string>honolulu_4.png</string>
		</array>
		<key>key_answer</key>
		<string>20</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>vienna_1.png</string>
			<string>vienna_2.png</string>
			<string>vienna_3.png</string>
			<string>vienna_4.png</string>
		</array>
		<key>key_answer</key>
		<string>21</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>queenstown_1.png</string>
			<string>queenstown_2.png</string>
			<string>queenstown_3.png</string>
			<string>queenstown_4.png</string>
		</array>
		<key>key_answer</key>
		<string>22</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>cairns_1.png</string>
			<string>cairns_2.png</string>
			<string>cairns_3.png</string>
			<string>cairns_4.png</string>
		</array>
		<key>key_answer</key>
		<string>23</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>melbourne_1.png</string>
			<string>melbourne_2.png</string>
			<string>melbourne_3.png</string>
			<string>melbourne_4.png</string>
		</array>
		<key>key_answer</key>
		<string>24</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>santorini_1.png</string>
			<string>santorini_2.png</string>
			<string>santorini_3.png</string>
			<string>santorini_4.png</string>
		</array>
		<key>key_answer</key>
		<string>25</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>vancouver_1.png</string>
			<string>vancouver_2.png</string>
			<string>vancouver_3.png</string>
			<string>vancouver_4.png</string>
		</array>
		<key>key_answer</key>
		<string>26</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>istanbul_1.png</string>
			<string>istanbul_2.png</string>
			<string>istanbul_3.png</string>
			<string>istanbul_4.png</string>
		</array>
		<key>key_answer</key>
		<string>27</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>athens_1.png</string>
			<string>athens_2.png</string>
			<string>athens_3.png</string>
			<string>athens_4.png</string>
		</array>
		<key>key_answer</key>
		<string>28</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>copenhagen_1.png</string>
			<string>copenhagen_2.png</string>
			<string>copenhagen_3.png</string>
			<string>copenhagen_4.png</string>
		</array>
		<key>key_answer</key>
		<string>29</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>cinque_1.png</string>
			<string>cinque_2.png</string>
			<string>cinque_3.png</string>
			<string>cinque_4.png</string>
		</array>
		<key>key_answer</key>
		<string>30</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>san_francisco_1.png</string>
			<string>san_francisco_2.png</string>
			<string>san_francisco_3.png</string>
			<string>san_francisco_4.png</string>
		</array>
		<key>key_answer</key>
		<string>31</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>florence_1.png</string>
			<string>florence_2.png</string>
			<string>florence_3.png</string>
			<string>florence_4.png</string>
		</array>
		<key>key_answer</key>
		<string>32</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>brugge_1.png</string>
			<string>brugge_2.png</string>
			<string>brugge_3.png</string>
			<string>brugge_4.png</string>
		</array>
		<key>key_answer</key>
		<string>33</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>whistler_1.png</string>
			<string>whistler_2.png</string>
			<string>whistler_3.png</string>
			<string>whistler_4.png</string>
		</array>
		<key>key_answer</key>
		<string>34</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>beijing_1.png</string>
			<string>beijing_2.png</string>
			<string>beijing_3.png</string>
			<string>beijing_4.png</string>
		</array>
		<key>key_answer</key>
		<string>35</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>los_angeles_1.png</string>
			<string>los_angeles_2.png</string>
			<string>los_angeles_3.png</string>
			<string>los_angeles_4.png</string>
		</array>
		<key>key_answer</key>
		<string>36</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>singapore_1.png</string>
			<string>singapore_2.png</string>
			<string>singapore_3.png</string>
			<string>singapore_4.png</string>
		</array>
		<key>key_answer</key>
		<string>37</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>split_1.png</string>
			<string>split_2.png</string>
			<string>split_3.png</string>
			<string>split_4.png</string>
		</array>
		<key>key_answer</key>
		<string>38</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>tokyo_1.png</string>
			<string>tokyo_2.png</string>
			<string>tokyo_3.png</string>
			<string>tokyo_4.png</string>
		</array>
		<key>key_answer</key>
		<string>39</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>salzburg_1.png</string>
			<string>salzburg_2.png</string>
			<string>salzburg_3.png</string>
			<string>salzburg_4.png</string>
		</array>
		<key>key_answer</key>
		<string>40</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>lisbon_1.png</string>
			<string>lisbon_2.png</string>
			<string>lisbon_3.png</string>
			<string>lisbon_4.png</string>
		</array>
		<key>key_answer</key>
		<string>41</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>bled_1.png</string>
			<string>bled_2.png</string>
			<string>bled_3.png</string>
			<string>bled_4.png</string>
		</array>
		<key>key_answer</key>
		<string>42</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>lagos_1.png</string>
			<string>lagos_2.png</string>
			<string>lagos_3.png</string>
			<string>lagos_4.png</string>
		</array>
		<key>key_answer</key>
		<string>43</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>hong_kong_1.png</string>
			<string>hong_kong_2.png</string>
			<string>hong_kong_3.png</string>
			<string>hong_kong_4.png</string>
		</array>
		<key>key_answer</key>
		<string>44</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>brussels_1.png</string>
			<string>brussels_2.png</string>
			<string>brussels_3.png</string>
			<string>brussels_4.png</string>
		</array>
		<key>key_answer</key>
		<string>45</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>dubai_1.png</string>
			<string>dubai_2.png</string>
			<string>dubai_3.png</string>
			<string>dubai_4.png</string>
		</array>
		<key>key_answer</key>
		<string>46</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>madrid_1.png</string>
			<string>madrid_2.png</string>
			<string>madrid_3.png</string>
			<string>madrid_4.png</string>
		</array>
		<key>key_answer</key>
		<string>47</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>chiang_mai_1.png</string>
			<string>chiang_mai_2.png</string>
			<string>chiang_mai_3.png</string>
			<string>chiang_mai_4.png</string>
		</array>
		<key>key_answer</key>
		<string>48</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>brisbane_1.png</string>
			<string>brisbane_2.png</string>
			<string>brisbane_3.png</string>
			<string>brisbane_4.png</string>
		</array>
		<key>key_answer</key>
		<string>49</string>
	</dict>
</array>
</plist>
