<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image_array</key>
		<array>
			<string>movie_1.png</string>
			<string>movie_2.png</string>
			<string>movie_3.png</string>
			<string>movie_4.png</string>
		</array>
		<key>key_answer</key>
		<string>0</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>movie_4.png</string>
			<string>movie_5.png</string>
			<string>movie_6.png</string>
			<string>movie_7.png</string>
		</array>
		<key>key_answer</key>
		<string>1</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>movie_8.png</string>
			<string>movie_9.png</string>
			<string>movie_10.png</string>
			<string>movie_11.png</string>
		</array>
		<key>key_answer</key>
		<string>2</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>movie_12.png</string>
			<string>movie_13.png</string>
			<string>movie_14.png</string>
			<string>movie_15.png</string>
		</array>
		<key>key_answer</key>
		<string>3</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>movie_16.png</string>
			<string>movie_17.png</string>
			<string>movie_18.png</string>
			<string>movie_19.png</string>
		</array>
		<key>key_answer</key>
		<string>4</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>movie_20.png</string>
			<string>movie_21.png</string>
			<string>movie_22.png</string>
			<string>movie_23.png</string>
		</array>
		<key>key_answer</key>
		<string>5</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>movie_24.png</string>
			<string>movie_25.png</string>
			<string>movie_26.png</string>
			<string>movie_27.png</string>
		</array>
		<key>key_answer</key>
		<string>6</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>movie_28.png</string>
			<string>movie_29.png</string>
			<string>movie_30.png</string>
			<string>movie_31.png</string>
		</array>
		<key>key_answer</key>
		<string>7</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>movie_32.png</string>
			<string>movie_33.png</string>
			<string>movie_34.png</string>
			<string>movie_35.png</string>
		</array>
		<key>key_answer</key>
		<string>8</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>movie_36.png</string>
			<string>movie_37.png</string>
			<string>movie_38.png</string>
			<string>movie_39.png</string>
		</array>
		<key>key_answer</key>
		<string>9</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>movie_40.png</string>
			<string>movie_41.png</string>
			<string>movie_42.png</string>
			<string>movie_43.png</string>
		</array>
		<key>key_answer</key>
		<string>10</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>movie_28.png</string>
			<string>movie_44.png</string>
			<string>movie_45.png</string>
			<string>movie_46.png</string>
		</array>
		<key>key_answer</key>
		<string>11</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>movie_47.png</string>
			<string>movie_48.png</string>
			<string>movie_49.png</string>
			<string>movie_50.png</string>
		</array>
		<key>key_answer</key>
		<string>12</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>movie_51.png</string>
			<string>movie_52.png</string>
			<string>movie_53.png</string>
			<string>movie_54.png</string>
		</array>
		<key>key_answer</key>
		<string>13</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>movie_55.png</string>
			<string>movie_56.png</string>
			<string>movie_2.png</string>
			<string>movie_57.png</string>
		</array>
		<key>key_answer</key>
		<string>14</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>movie_58.png</string>
			<string>movie_59.png</string>
			<string>movie_60.png</string>
			<string>movie_61.png</string>
		</array>
		<key>key_answer</key>
		<string>15</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>movie_62.png</string>
			<string>movie_63.png</string>
			<string>movie_64.png</string>
			<string>movie_65.png</string>
		</array>
		<key>key_answer</key>
		<string>16</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>movie_56.png</string>
			<string>movie_66.png</string>
			<string>movie_67.png</string>
			<string>movie_68.png</string>
		</array>
		<key>key_answer</key>
		<string>17</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>movie_69.png</string>
			<string>movie_70.png</string>
			<string>movie_71.png</string>
			<string>movie_72.png</string>
		</array>
		<key>key_answer</key>
		<string>18</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>movie_73.png</string>
			<string>movie_59.png</string>
			<string>movie_74.png</string>
			<string>movie_75.png</string>
		</array>
		<key>key_answer</key>
		<string>19</string>
	</dict>
</array>
</plist>
