<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Christian Bale</string>
		<key>id</key>
		<string>0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Liam Neeson</string>
		<key>id</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ryan Gosling</string>
		<key>id</key>
		<string>2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tom Hanks</string>
		<key>id</key>
		<string>3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Russell Crowe</string>
		<key>id</key>
		<string>4</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Robin Williams</string>
		<key>id</key>
		<string>5</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Robert De Niro</string>
		<key>id</key>
		<string>6</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Leonardo DiCaprio</string>
		<key>id</key>
		<string>7</string>
	</dict>
</array>
</plist>
