<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image_array</key>
		<array>
			<string>movie_1.png</string>
			<string>movie_2.png</string>
			<string>movie_3.png</string>
			<string>movie_4.png</string>
		</array>
		<key>key_answer</key>
		<string>0</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>movie_4.png</string>
			<string>movie_5.png</string>
			<string>movie_6.png</string>
			<string>movie_7.png</string>
		</array>
		<key>key_answer</key>
		<string>1</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>movie_8.png</string>
			<string>movie_9.png</string>
			<string>movie_10.png</string>
			<string>movie_11.png</string>
		</array>
		<key>key_answer</key>
		<string>2</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>movie_12.png</string>
			<string>movie_13.png</string>
			<string>movie_14.png</string>
			<string>movie_15.png</string>
		</array>
		<key>key_answer</key>
		<string>3</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>movie_16.png</string>
			<string>movie_17.png</string>
			<string>movie_18.png</string>
			<string>movie_19.png</string>
		</array>
		<key>key_answer</key>
		<string>4</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>movie_20.png</string>
			<string>movie_21.png</string>
			<string>movie_22.png</string>
			<string>movie_23.png</string>
		</array>
		<key>key_answer</key>
		<string>5</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>movie_24.png</string>
			<string>movie_25.png</string>
			<string>movie_26.png</string>
			<string>movie_27.png</string>
		</array>
		<key>key_answer</key>
		<string>6</string>
	</dict>
	<dict>
		<key>image_array</key>
		<array>
			<string>movie_28.png</string>
			<string>movie_29.png</string>
			<string>movie_30.png</string>
			<string>movie_31.png</string>
		</array>
		<key>key_answer</key>
		<string>7</string>
	</dict>
</array>
</plist>
